In [23]:
from sklearn.datasets import make_blobs
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [24]:
X,y = make_blobs(n_samples=100,centers=3)

In [25]:
print(f'X shape.....:{X.shape}')
print(f'y shape.....:{y.shape}')

X shape.....:(100, 2)
y shape.....:(100,)

In [26]:
X[1:10,:]

array([[ 7.9925783 ,  6.29350025],
       [ 5.66022552, -8.63990291],
       [ 6.57132102,  7.92052663],
       [ 6.14954329, -8.47435874],
       [ 4.27246621, -7.74094645],
       [ 8.02845039,  6.44546659],
       [ 8.03414296,  6.85676658],
       [ 9.31415857,  7.77673108],
       [ 6.94963362,  7.03289271]])

In [27]:
y

array([0, 1, 2, 1, 2, 2, 1, 1, 1, 1, 1, 0, 0, 0, 2, 1, 0, 0, 2, 0, 2, 0,
       2, 1, 1, 0, 1, 0, 1, 2, 0, 0, 0, 2, 2, 1, 2, 0, 2, 1, 1, 2, 0, 2,
       2, 0, 2, 1, 0, 0, 2, 1, 2, 2, 2, 0, 2, 1, 1, 1, 0, 0, 2, 2, 1, 0,
       0, 0, 1, 2, 2, 1, 1, 1, 2, 2, 2, 0, 2, 1, 1, 0, 1, 0, 1, 2, 1, 2,
       2, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 2])

In [29]:
A = sns.load_dataset('iris')
A.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [30]:
A.tail()

     sepal_length  sepal_width  petal_length  petal_width    species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [31]:
A.shape

(150, 5)

In [32]:
A.iloc[60:65,:]

    sepal_length  sepal_width  petal_length  petal_width     species
60           5.0          2.0           3.5          1.0  versicolor
61           5.9          3.0           4.2          1.5  versicolor
62           6.0          2.2           4.0          1.0  versicolor
63           6.1          2.9           4.7          1.4  versicolor
64           5.6          2.9           3.6          1.3  versicolor

In [34]:
df = pd.read_csv('../dataset/Bias_correction_ucl.csv')
df.shape

(7752, 25)

In [35]:
df.head()

,station,Date,Present_Tmax,Present_Tmin,LDAPS_RHmin,LDAPS_RHmax,LDAPS_Tmax_lapse,LDAPS_Tmin_lapse,LDAPS_WS,LDAPS_LH,...,LDAPS_PPT2,LDAPS_PPT3,LDAPS_PPT4,lat,lon,DEM,Slope,Solar radiation,Next_Tmax,Next_Tmin
0,1.0,30/06/2013,28.7,21.4,58.255688,91.116364,28.074101,23.006936,6.818887,69.451805,...,0.0,0.0,0.0,37.6046,126.991,212.3350,2.7850,5992.895996,29.1,21.2
1,2.0,30/06/2013,31.9,21.6,52.263397,90.604721,29.850689,24.035009,5.691890,51.937448,...,0.0,0.0,0.0,37.6046,127.032,44.7624,0.5141,5869.312500,30.5,22.5
2,3.0,30/06/2013,31.6,23.3,48.690479,83.973587,30.091292,24.565633,6.138224,20.573050,...,0.0,0.0,0.0,37.5776,127.058,33.3068,0.2661,5863.555664,31.1,23.9
3,4.0,30/06/2013,32.0,23.4,58.239788,96.483688,29.704629,23.326177,5.650050,65.727144,...,0.0,0.0,0.0,37.6450,127.022,45.7160,2.5348,5856.964844,31.7,24.3
4,5.0,30/06/2013,31.4,21.9,56.174095,90.155128,29.113934,23.486480,5.735004,107.965535,...,0.0,0.0,0.0,37.5507,127.135,35.0380,0.5055,5859.552246,31.2,22.5